.myLogo {
  height: 10vh;
}

body {
  background-color: #272829;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
}

.project-imgs {
  height: 15vh;
  width: 27vh;
}

.projects-title {
  color: antiquewhite;
  text-align: center;
}

.pro-buttons {
  appearance: none;
  background-color: transparent;
  border: 2px solid antiquewhite;
  border-radius: 40px;
  box-sizing: border-box;
  color: antiquewhite;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 15px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 40px;
  min-width: 0;
  outline: none;
  padding: 1px 18px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

/* .pro-buttons:disabled {
  background-color: rgba(0, 0, 0, .12);
  box-shadow: rgba(0, 0, 0, .2) 0 0 0 0, rgba(0, 0, 0, .14) 0 0 0 0, rgba(0, 0, 0, .12) 0 0 0 0;
  color: rgba(0, 0, 0, .37);
  cursor: default;
  pointer-events: none;
} */

.pro-buttons:hover {
  color: black;
  background-color: aqua;
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.pro-buttons:active {
  box-shadow: none;
  transform: translateY(0);
}

.button-div {
  display: flex;
  justify-content: center;
}

.butt-link {
  text-decoration: none;
}

.contactme-form {
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
}

.contactme {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  color: antiquewhite;
}

.name-fs {
  display: flex;
  font-size: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  margin-right: 12vh;
  padding-top: 25px;
  color: antiquewhite;
  transition: all 0.3s ease-in;
}

.name-h1 {
  margin-bottom: 5px;
}
